<div class="container is-fluid">

  <section class="section">
    <div class="columns is-multiline">
      <div class="column is-3">
        <figure *ngIf="img" class="image is-square">
          <img [src]="img" class="img-circle">
        </figure>
      </div>

      <div class="column is-6">
        <h1 class="title is-1">{{character.name}}</h1>
      </div>

      <div class="column is-3">
        <a routerLink="/search" class="button is-danger is-outlined">Regresar</a>
      </div>
    </div>
  </section>

  <section>
    <div class="tabs is-centered">
      <ul>
        <li (click)="showComics(character?.comics)" [ngClass]="{'is-active': comics.isComics}">
          <a>Comics</a>
        </li>
        <li (click)="showEvents(character?.events)" [ngClass]="{'is-active': events.isEvents}">
          <a>Events</a>
        </li>
        <li>
          <a>Series</a>
        </li>
        <li>
          <a>Stories</a>
        </li>
      </ul>
    </div>
  </section>

  <section *ngIf="comics.isComics">
    <div class="columns" *ngFor="let comic of comics?.comics?.items">
      <div class="column is-half is-offset-one-quarter">
        <a class="subtitle is-4" [href]="comic.resourceURI">{{comic.name}}</a>
      </div>
    </div>
  </section>

  <section *ngIf="events.isEvents">
    <div class="columns" *ngFor="let event of events?.events?.items">
      <div class="column is-half is-offset-one-quarter">
        <a class="subtitle is-4" [href]="event.resourceURI">{{event.name}}</a>
      </div>
    </div>
  </section>

  <section>
    <div class="columns">
      <div *ngFor="let url of character.urls" class="column">
        <a [href]="url.url">{{url.type}}</a>
      </div>
    </div>
  </section>

</div>