<div class="container is-fluid">

  <section class="section">
    <div class="columns">
      <div class="column is-6 is-offset-3">

        <p class="control has-icons-left">
          <input #personaje (keyup)="buscar(personaje.value)" class="input is-danger is-rounded" type="text" placeholder="Busca tu superheroe o villano favorito de Marvel">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>

      </div>
    </div>

    <section *ngIf="loading" class="section">
      <app-loading></app-loading>
    </section>

    <div *ngIf="!loading" class="columns is-multiline animated fadeIn">
      <div *ngFor="let heroe of heroes" class="column is-one-third">

        <div (click)="verPersonaje(heroe)" class="card puntero">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{heroe.thumbnail.path}}.{{heroe.thumbnail.extension}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title">{{heroe.name}}</p>
              </div>
            </div>

            <div class="content">
              {{heroe.description}}
              <br>
              <time>{{ heroe.modified | date:"MM/dd/yy" }}</time>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>