<nav class="navbar is-transparent is-black">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="assets/img/marvel-brand-logo.png" alt="Logo marvel" width="100" height="28">
    </a>

    <div class="navbar-burger burger" data-target="navbar-menu" onclick="document.getElementById('navbar-menu').classList.toggle('is-active');">
      <span class="aria-hidden"></span>
      <span class="aria-hidden"></span>
      <span class="aria-hidden"></span>
    </div>
  </div>

  <div id="navbar-menu" class="navbar-menu dark">
    <div class="navbar-item" routerLinkActive="active">
      <a class="button is-danger is-outlined" [routerLink]="['home']">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        <span>Home</span>
      </a>
    </div>

    <div class="navbar-item" routerLinkActive="active">
      <a class="button is-danger is-outlined" [routerLink]="['search']">
        <span class="icon">
          <i class="fas fa-search"></i>
        </span>
        <span>Search</span>
      </a>
    </div>
  </div>
</nav>