<nav class="navbar is-transparent is-black">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="assets/img/marvel-brand-logo.png" alt="Logo marvel" width="100" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="true">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <span class="navbar-item" routerLinkActive="active">
      <a class="button is-danger is-outlined" [routerLink]="['home']">
        Home
      </a>
    </span>

    <span class="navbar-item" routerLinkActive="active">
      <a class="button is-danger is-outlined" [routerLink]="['search']">
        Search
      </a>
    </span>
  </div>
</nav>