<div class="container">

  <div class="column is-4 is-offset-4">

    <p class="control has-icons-left">
      <input #personaje (keyup)="buscar(personaje.value)" class="input is-danger is-rounded is-medium" type="text" placeholder="Buscar">
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p>

  </div>

  <div class="columns is-multiline">
    <div *ngFor="let heroe of heroes" class="column is-one-third">

      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{heroe.thumbnail.path}}.{{heroe.thumbnail.extension}}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title">{{heroe.name}}</p>
            </div>
          </div>

          <div class="content">
            {{heroe.description}}
            <br>
            <time>{{ heroe.modified | date:"MM/dd/yy" }}</time>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>